/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

body {
	width: 900px;
	margin: auto;
	text-align: center;
}

p {
	margin: 20px 20px 0 0;
}

hr {
	border: 1px solid black;
}

h3 {
	font-family: 'Open-Sans', sans-serif;
	font-weight: 600;
}

/* Nav Section */

nav {
	position: fixed;
	top: 0;
	padding: 10px 0;
	text-align: left;
	background-color: rgb(38, 38, 68);
	z-index: 1;
	width: 900px;
}

nav a {
	margin: 0 52px 0 0;
	vertical-align: 50%;
	text-decoration: none;
	color: lightgrey;
	transition: 1s;
}

nav a:hover {
	font-size: 120%;
}

nav img {
	margin-left: 54px;
}


/* Header Section */
header {
	margin-top: 30px;
	background: url("/great-idea-website/img/header-img.png") no-repeat center center;
	background-size: 50%;
	z-index: -1;
	padding: 150px;
}
header img {
	margin: 50px 0;
}

header h1 {
	font-size: 60px;
	font-family: 'Open-Sans', sans-serif;
	text-align: center;
	display: inline-block;
	color: rgb(2, 30, 56);
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 10px;
	padding: 20px;
}

.main-header {
	display: inline-block;
	vertical-align: 50%;
	
}



.main-header button {
	display: block;
	margin: auto;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(97, 97, 97);
	color: rgb(27, 27, 27);
	padding: 7px 40px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
}

@keyframes button-animation{
	0% {width: 50%;}
	100% {width: 100%;}
}

.main-header button:hover {
	animation-name: button-animation;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}



/* Upper Content and Lower Content Sections */
.all-content {
	background: url("/great-idea-website/img/mid-page-accent.jpg") no-repeat center;
	background-size: cover;
}

.content-section {
	background-color: rgba(25, 26, 27, 0.5);
	color: white;
	padding: 20px 0;
	text-align: left;
	margin: 0 0;
	display: block;
}

.content-section p {
	width: 100%;
}

.upper-content {
	display: inline-block;
	width: 49%;
	padding: 10px 0;
}

.about {
	margin-left: 13px;
}


.middle-img {
	width: 100%;
}

.lower-content {
	display: inline-block;
	width: 31%;
	padding: 10px 0;
}

.product, .vision {
	margin-left: 27px;
}


/* Address Section */
address {
	margin: 30px 0;
	text-align: left;
}


/* Footer Section */
footer {
	padding-bottom: 100px;
}